<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 offset-md-4">
      <h2 class="text-center">Mon profil</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :firstname,
                      label: "Prénom",
                      required: true,
                      autofocus: true
                      %>
          <%= f.input :lastname,
                      label: "Nom",
                      required: true,
                      autofocus: true
                      %>
          <%= f.input :company,
                      label: "Structure",
                      required: true,
                      autofocus: true
                      %>
          <%= f.input :email,
                      required: true,
                      autofocus: true
                      %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                      hint: "Laissez vide si vous ne souhaitez pas changer de mot de passe",
                      required: false,
                      label: "Mot de passe",
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      label: "Confirmation du mot de passe",
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "Entrez votre mot de passe actuel pour confirmez les changements",
                      label: "Mot de passe actuel",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update", class: 'btn btn-normal btn-block' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
